<main class="conte-detail">

  <div *ngIf="isLoading()">Chargement...</div>
  <div *ngIf="errorMessage()">{{ errorMessage() }}</div>

  <div *ngIf="conteDetails() as conte" class="card">

    <!-- IMAGE -->
    <img class="thumbnail" [src]="getThumbnailUrl(conte.urlPhoto)" alt="image-conte">

    <h2>{{ conte.titre }}</h2>

    <p class="meta">
      <strong>Famille :</strong> {{ conte.nomFamille || 'Non renseigné' }} <br>
      <strong>Catégorie :</strong> {{ conte.nomCategorie || 'Aucune' }} <br>
      <strong>Lieu :</strong> {{ conte.lieu || 'N/A' }} <br>
    </p>

    <!-- PDF -->
    <div *ngIf="isPdf(conte.urlFichier)">
      <!-- <canvas  class="pdf-canvas">
      </canvas> -->
        <object 
          [data]="getTrustedResourceUrl(conte.urlFichier)" 
          type="application/pdf" class="pdf-canvas">
        </object>
    </div>

    <!-- DESCRIPTION -->
    <div *ngIf="!isPdf(conte.urlFichier)">
      <p>{{ conte.description }}</p>
    </div>

    <!-- AUDIO -->
    <div *ngIf="isAudio(getFileUrl(conte.urlFichier))">

      <audio #audioPlayer
             [src]="getFileUrl(conte.urlFichier)"
             (timeupdate)="currentTime = audioPlayer.currentTime"
             (loadedmetadata)="duration = audioPlayer.duration">
      </audio>

      <div class="audio-player">

        <button class="play-button" (click)="toggleAudio(audioPlayer)">
          {{ isPlaying ? 'Pause' : 'Lecture' }}
        </button>

        <div class="progress-bar" (click)="seekAudio($event, audioPlayer)">
          <div class="progress" [style.width.%]="(currentTime / duration) * 100"></div>
        </div>

        <div class="times">
          <span>{{ formatTime(currentTime) }}</span>
          <span>{{ formatTime(duration) }}</span>
        </div>

      </div>

    </div>

  </div>
</main>
